# Ignore the virtual environment of the uv

.env
.venv/

.DS_Store

# Ignore PyCharm configurations
.idea/
*.iml

# Ignore Python temporary files
__pycache__/
*.pyc

# Log
*.log
*.retry


# Ignore deploy data
deploy/ansible/group_vars/all.yml
deploy/ansible/secrets.yml